<!-- {{#link-to 'beers' beers}}
  <h2>{{beers.beer_name}}</h2>
{{/link-to}} -->

<!-- {{#each model as |beer|}}
  {{beer-app/card beer=beer delete="delete" edit="edit"}}
{{/each}} -->

{{#each beers as |beer|}}
  <h2>{{beer.beer_name}}</h2>
{{/each}}

<!-- <button class="btn btn-xs btn-danger"
        {{action 'delete'}}>
        Delete
</button>


 <button class="btn btn-xs btn-primary"
        {{action 'edit'}}>
        Edit
</button>  -->
Hello
